extends ../layout 

block content
    include ../navbar
    br
    br
    br
    br
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0.mt-5 Registro de Usuarios
    include form
