extends ../layout

block content
    include ../navbar    
    br
    br
    br
    h1.text-center.p-3 Listado de Usuarios
    table.table.table-striped
        thead.thead-dark
            tr
                th(scope='col') Nombre
                th(scope='col') Descripción
                th(scope='col') Rut
                th(scope='col') Correo

        tbody
         each user in usuarios 
          tr
           td Nombre emprendimiento
           td Acá va la descripción del emprendimiento
           td= user.rut 
           td= user.correo 

